@charset "utf-8";

body, section, div, h1, h2, h3, h4, h5, h6, p, a, span {
    margin: 0px;
    padding: 0px;
}

body {
    color: #333;
    font-size: 15px;
    padding-top: 200px;
    text-align: center;
    background: #FFD464;
}

#open {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 15px 17px 15px;
    border: none;
    border-radius: 5px;
    background: #F26964;
    cursor: pointer;
    &:hover {
        background: #da5e59;
    }
}

// modal content
#modalWindow {
    width: 50%;
    border-radius: 5px;
    background: #f0f0f0;
    display: none;
    position: absolute;
    z-index: 101;
    #modalHeader {
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
        #close {
            border: none;
            background: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    .modalBody {
        padding: 100px;
    }
}

// background overlay
#overLay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}